@font-face {
	font-family: "Adelia";
	src: url("../font/ADELIA.otf");
}
@font-face {
	font-family: "Olive";
	src: url("../font/Olive Days.ttf");
}
@font-face {
	font-family: "Small Print";
	src: url("../font/Small Print.ttf");
}
@keyframes appear {
	from {opacity: 0;}
	to {opacity: 1;}
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

*{
	margin: 0;
	padding: 0;
}

body, html{
	width:100%;
	height: 100%;
}

body{
	background-color: #E4CDA7;
	display: grid;	
	grid-template-rows: 100%;
	grid-template-columns: 30% 40% 30%;
	align-items: center;

}

header{
	height: 7%;
	width: 100%;
	background-color: #8E806A;
	position: absolute;	
	top: 0px;
	text-align: center;
	display: grid;
	align-items: center;
}

header > h1{
	font-size: 4vh;
	font-weight: normal;
	font-family: "Adelia";
	color: #FFE6BC;
	text-shadow: -2px -2px 0 #454747, 2px -2px 0 #454747, -2px 2px 0 #454747, 2px 2px 0 #454747;
}

#help{	
	position: absolute;
	top: 9%;
	right: 2%;
	background-color: #E4CDA7;
	border-radius: 20vh;	
	cursor: pointer;  
	display: grid;
	place-content: center;
	height: 2.5em;
	width:2.5em;
}

#help > p{
	font-size: 2.5em;
	color: #454747;
	font-family: "Small Print";
	margin-top: 7px;
}

#help:hover::before{
	animation: rotate 3s linear infinite;
}
#help::before{
	content: "";
	width: 2.5em;
  height: 2.5em;  
	position: absolute;
	top: 0;
	right: 0em;
	border-radius: 20vh;
	border: 2px dashed #8E806A;      
}


#gameFrame{
	width: auto;
	grid-column-start: 2;
	grid-column-end: 3;
}

.wordLine{
	display: flex;
	column-gap: 2.5vh;
	height: 3em;
	min-height: 2.5em;
	margin-top: 2.5vh;
	justify-content: center;
}

.tile{	
	flex-grow: 1;
	width: 1.0em;
	max-width: 1.8em;
	min-width: 1.0em;
	border-radius: 20%;
	border: 0px;
	background-color: #FFE6BC;
	box-shadow: 2px 2px 2px 1px #8E806A;
	font-size: 1.5em;
	font-family: "Olive";
	text-align: center;
	color: #454747;
}
.tile:focus{
	outline: none;
}

.darker{
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.goodLetter{
	background-color: #B7CADB;
}

.wrgPlaceLetter{
	background-color: #E9DAC1;
}

.badLetter{
	background-color: #DEB6AB;
}

.revealtile{	
	border-radius: 0px;
	background-color: transparent;
	box-shadow: 0px 3px 0px 0px #8E806A;
}

#popup{
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 66vh;
	max-height: 40%;
	border-radius: 3vh;
	background-color: #8E806A;
	box-shadow: 2px 2px 2px 1px #454747;
	animation-name: appear;
	animation-duration: 1.5s;
	display: flex;
	flex-direction: column;
	align-items: center; 
	z-index: 0;
}

#popup > .cross{
	flex: 0 0 auto;
	color: #FFE6BC;
	text-align: center;
	font-size: 2em;
	position: absolute;
	top: 0;
	right: 0;
	width: 8%;
	margin-top: 1%;
	transition-duration: 0.8s;
	transition-property: transform;
	cursor: pointer;
}

#popup > .cross:hover{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

#popup > h1{
	font-size: 4vh;
	font-family: "Segoe Print";
	color: #FFE6BC;
	max-height: 15%;
	flex: 0 0 auto;
}

#popup > h3{
	font-family: "Segoe Print";
	font-size: 2vh;
	color: #FFE6BC;
}

#popup > p{ 
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2vh;
	width: 100%;
	flex: 1 0 auto;
}

#popup > div{
	padding: 4% 0;
	width: 100%;
	display: flex;
	align-items: center;
	max-height: 5%;
	flex: 0 0 auto;
}

#copyButton{
	border: 2px solid #FFE6BC;
	font-size: 1em;
	color: #FFE6BC;
	text-decoration: none;
	position: absolute;
	overflow: hidden;
	left: 0;
	right: 0;
	margin-left: auto; 
	margin-right: auto; 
	font-family: Arial;
	max-width: 15vh;
	padding: 0.5vh 5vh;
	text-align: center;
	cursor: pointer;
}

#copyButton::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFE6BC;
	transition: all 0.5s;
	z-index: -1;
	transform: translateX(-100%);
}

#copyButton:hover::before{
	transform: translateX(0);
}

#copyButton:hover{
	color: #8E806A;
}

#rules{
	font-style: "Segoe Print";
	display: flex;
	flex-direction: column;
	align-items: end;
	font-size: 2vh;
	width: 100%;
	flex: 1 0 auto;
	list-style: none;
	font-family: Segoe Print;
	margin-top: 5%;
}

#rules > *{
	flex: 1 0 auto;
	margin-right: 2%;
	width: 96%;
}

#rules > li > input{
	margin-right: 5%;
}

#leftColumn{
	grid-column-start: 1;
	grid-column-end: 2;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.letterFrame{
	display: inline-flex;
	flex-wrap: wrap;
	gap: 2vh;
	padding: 2%;
	max-width: 90%;
	justify-self: center;
	border: 5px #8E806A dashed;
}

.letterFrame > input{
	min-width: 1.2em;
	min-height: 1.2em;
}

.letterFrame > h1{
	color: #8E806A;
	flex-basis: 100%; 
	text-align: center;
	font-family: "Small Print";
	font-weight: lighter;
}

:root {
  	--border-width: 7px;
}

.sec-loading {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	animation: fadeInAnimation ease 0.6s;
	background-color: #E4CDA7;
}

.sec-loading .one {
	height: 80px;
	width: 80px;
	border: var(--border-width) solid #8E806A;
	transform: rotate(45deg);
	border-radius: 0 50% 50% 50%;
	position: relative;
	animation: move 0.5s linear infinite alternate-reverse;
}
.sec-loading .one::before {
	content: "";
	position: absolute;
	height: 55%;
	width: 55%;
	border-radius: 50%;
	border: var(--border-width) solid transparent;
	border-top-color: white;
	border-bottom-color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: rotate 1s linear infinite;
}

@keyframes rotate {
	to {
	transform: translate(-50%, -50%) rotate(360deg);
	}
}
@keyframes move {
	to {
	transform: translateY(15px) rotate(45deg);
	}
}
@keyframes fadeInAnimation {
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
	}
}
