@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900');
@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes grid-glide-anim {

    from {
        inset-block-start: 0;
        inset-inline-start: 0;

    }

    to {
        inset-block-start: -100px;
        inset-inline-start: -100px;
    }

  }
  
  /* @keyframes row-thickens {
      0%, 90%{
          block-size: 1px;					
      }

      95%{
          block-size: 4px;
      }

      100%{
          block-size: 1px;
      }

  }

  @keyframes col-thickens {
      0%, 90%{
          inline-size: 1px;					
      }

      95%{
          inline-size: 4px;
      }

      100%{
          inline-size: 1px;
      }

  } */

@keyframes glideAppear {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
    
}

@keyframes bounceOnce {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: translateY(-25%);
    }
  }

@keyframes buttonPush{
    from{
		box-shadow: 3px 3px 0px 0px #35302c;
	}
	to{
		box-shadow: none;
        transform: translate(3px, 3px);
	}
}
.gridAnimate::after {
    /* ROWS */
    inline-size: 100vw;
    block-size: 1px;
    animation: grid-glide-anim 4s linear 0s infinite, row-thickens 12s ease-in-out 0s infinite;  
}
.gridAnimate:before {
    /* COLUMNS */
    inline-size: 1px;
    block-size: 100vh;
    inset-inline-start: 0em;
    animation: grid-glide-anim 4s linear 0s infinite, col-thickens 12s ease-in-out 0s infinite;
}

.text-shadow{
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 5px 5px 0 #adf8db;  
}

.dots-filled::after{
    content: '';
    padding:0;
    margin:0;
    width: 222px;
    height: 134px;      
    align-self: flex-end;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDEwIDEwIiBmaWxsPSJibGFjayI+PGNpcmNsZSBjeD0iOSIgY3k9IjUiIHI9IjEiIGZpbGw9ImJsYWNrIi8+PC9zdmc+");
    mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMjIiIGhlaWdodD0iMTM0IiB2aWV3Qm94PSIwIDAgMjIyIDEzNCIgZmlsbD0iYmxhY2siPgogICAgPHBhdGggZD0iTTIyMiAwQzExMSAwIDAgMCAwIDY3QzAgNjcgMCAxMzQgMjIyIDEzNCIvPgo8L3N2Zz4=") no-repeat center;    
}

.anim-glideAppear{
    opacity: 0;
    animation: glideAppear .5s ease-in-out forwards;
}